*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-areas: 
    'header header'
    'sidebar container';
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 200px;
    text-align: center;
}

